#nav-search{
    margin-right: 100px;
}

#cat{
    margin-left: 20px;
}

.container{
    margin-top: -400px;
}

#commentArea{
    background-color: white;
    border-radius: 10px;
}

#checkout{
    margin-left: 30px;
}

#ui{
    background-color: #333333;
    padding: 30px;
    margin-top: 40%;
    border-radius: 10px;
}

#ui label{
    color: #ffffff;
}

#submit{
    background-color: orange;
}